body {
    margin: 0px;
    padding: 0px;
  }
  @media only screen and (min-width: 998px) {
    .user_carousel {
      margin: auto;
      width: 100%;
      margin-top: 4px;
      margin-bottom: 4px;
      height: 300px;
    }
  }
  @media only screen and (max-width: 998px) {
    .user_carousel {
      margin-top: 60px;
      margin-bottom: 4px;
      height: 220px;
      width: 100%;
    }
  }
  